<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Homepage of Cedric Haase"/>
    <meta name="keywords" content="homepage,website,cedrichaase,cedric,christopher,haase,c20e,software,developer,web,javascript"/>
    <meta name="author" content="Cedric Christopher Haase"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<main>
    <noscript>
        <pre>
        <p style="color: yellow;">It seems you have <span style="color: red;">deactivated JavaScript</span>!

That's fine, you will see the static about page below;
however, <span style="color: red;">you won't be able to use the website as an interactive shell.</span>
        </pre>
        <p class="prompt">[<span class="username">guest</span>@<span class="hostname">c20e.de</span> ~ ]$ <span class="stdin">cat about</span></p>
        <pre>
        </pre>
    </noscript>
</main>
</body>
</html>
