@keyframes flash1 {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

@keyframes flash2 {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

html {
    background: url('assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;

    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

body {
    --inner-pad: 2rem;

    margin: 0;
    padding: var(--inner-pad);

    min-height: calc(100vh - 2 * var(--inner-pad));

    background-color: rgba(0, 0, 0, 0.8);
    color: lightgrey;
    font-family: Monaco, Monospace, sans-serif;
}

pre {
    font-family: Monaco, Monospace;
    /*font-size: 9px !important;*/
}

strong {
    color: white;
}


p {
    margin: 0;
    padding: 0;
    font-size: 9 !important;

    word-break: break-all;
    word-wrap: break-word;
}

a {
    font-weight: bold;
    color: #24826c;
}

.cursor {
    background: lightgrey;
    color: white;
    height: 15px;
}

.cm {
    color: #24826c;
}

.hostname {
    color: #24826c;
}

.stdin {
    whitespace: pre-line;
}
